*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    border: solid 1px black;     
    border-radius: 10px;
}
.container{
    height: 75vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: stretch;/*no va a funcionar si el bloque tiene una medida de altura previa*/
    /*align-items: stretch; estira al contenedor al maximo del tamaño de su contenedor padre
    align-items: baseline; reduce el contenedor al tamaño de su contenido */
}
.box{
    flex-basis: 10rem;/*es para establecer la base de un elemento flexible en medida*/
    flex-grow: 1;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: green;
}
.box3{
    background-color: hotpink;
}