*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    border: black 2px dotted;
    display: inline-block;
}
.box{
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;
}
#two{
    background-color: green;
    position:relative;

}