header{
    background-color: rgb(11, 11, 105);
    color: white;
    text-align: center;
    font-size: 40px;
}
body{
    background-color: rgb(75, 104, 165);
    color: white;
    text-align: center;
}
#titulo{
    font-size: 50px;
}