*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 10rem;
    height: 10rem;
    border:black solid 1px
}